<tr id="<%= dom_id author %>">
 <td>
    <%= author.name %>
  </td>

  <td>
    <%=image_tag author.profile_picture,style:"height:100px" if author.profile_picture.filename? %>
  
  </td>

  <td>
  <%= author.address %>
    </td>

  <td>
  <%= author.books.count() %>
    </td>
  <td>

          <%= link_to "Show this author", author %>

</td>
<tr>
</div>
