<%= button_to "New",  {action:"new"},:method => :get %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>

      <th scope="col">Unique id</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
   <tbody>
<%@industrys.each_with_index do |x,index|%>
    <tr>
     <th scope="row"><%=index+1%></th>
        <td>
   
        <%=x.name%>
    </td>
            <td>
        <span style="color:red;margin-left:10px"><%=x.email%></span>
      </td>
            <td>
        <span style="color:blue;margin-left:10px"><%=x.registration_number%></span>
         </td>
            <td class="d-flex justify-content-around">
        <%=link_to "Show Industry",{action:"show",id:x},class:"btn btn-primary"%>
        <%=link_to "Add sector",{action:"add_new_sector",industry_id:x.id},class:"btn btn-primary"%>
        <%= button_to "delete", has_and_belongs_to_many_example_industry_path(x), :method => :delete ,class:"btn btn-danger "%>
<%=link_to "Edit",{action:"edit",id:x.id},class:"btn btn-primary"%>
        
         </td>
            
    </tr>
    </div>
<%end%>

</tbody>
</table>