<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= image_tag user.avatar,style:"height:100px" if user.avatar.attached? %>
    <%=link_to "Show",url_for(user.avatar)%>
  <%= link_to 'download', rails_blob_path(user.avatar, disposition: "attachment") %>
  </p>

</div>
